/* Cabecera */
.navbar img{
  width: 45px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.navbar{
  font-size: 1.5rem;
}

.navbar-brand{
  font-family: 'Pacifico',cursive;
  font-size: 1.5rem;
  margin: auto;
  padding-right: 30px;
}

.navbar-nav{
  padding-bottom: 10px;
}

.fa-search, .fa-user{
  padding: 5px;
}

.supernav{
  background-color: #3C3C3B;
  color: white;
  text-align: right;
  padding: 5px 20px 5px 20px;
}
/* Cabecera */

html{
  position: relative;
  min-height: 100%;
}

body{
  margin-bottom: 60px;
}

.pie{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  border-top: 1px solid #e5bdb1;
}

.derechos{
  height: 35px;
  display: flex;
  align-items: center;
  color: #000;
  justify-content: center;
  flex-direction: column;
  /* background-color: #ff5959; */
  background-color: #ffd3c5;
  font-size: 14px;
}

.compromisos{
  padding-top: 20px;
  background-color: #E8E6E6;
  text-align: center;
  height: 150px;
}

/* Método de pago */
.pago{
  background-color: #ffd3c5;
  font-size: 14px;
  padding: 20px 0px 20px 70px;
}

.pago ul li{
  list-style-type: none;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

.pago ul{
  margin: 0px;
	padding: 0px;
}

.pago ul li a{
  color: inherit;
}
/* Método de pago */

.lista{
  background-color: #ffd3c5;
  padding: 20px 0px 20px 70px;
  font-size: 14px;
}

.lista ul{
  margin: 0px;
	padding: 0px;
}

.lista li{
  list-style-type: none;
}

.suscribete{
  background-color: #ffd3c5;
  padding: 20px 0px 20px 20px;
  font-size: 14px;
}

.suscribete button{
  width: 150px;
}

#compromiso{
  font-size: 15px;
}

#desc_comp{
  font-size: 11px;
}

/* Slider */
.slider{
  height: 300px;
}

.slide{

}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-indicators > li {
  border-radius: 50%;
  height: 8px;
  width: 8px;
}
/* Slider */

.geo{
  height: 250px;
  margin-top: 20px;
  margin-bottom: 150px;
}
.localizacion{

}
.geo .twitter{
  margin: 0px;
}

#map {
  height: 85%;
  width: 100%;
}

@media (min-width: 990px){
  #buscador{
    position: absolute;
    right: 2%;
  }

  #buscarticulo{
    width: 280px;
  }

  .acordeon{
    display: none;
  }
}

@media (max-width: 989px){
  .supernav span:first-child{
    display: none;
  }

  #compromiso{
    font-size: 12px;
  }

  #desc_comp{
    font-size: 6px;
  }

  .plegar{
      padding: 0px 20px 0px 20px;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
  }

  .acordeon{
    display: block;
  }

  .acordeon{
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      border: none;
      outline: none;
      transition: 0.4s;
  }

  .acordeon:hover {
      background-color: #ccc;
  }

  .no-padding {
   padding: 0;
 }

 .carousel-inner img{
   height: 180px;
 }

 .localizacion{
   height: 150px;
 }

 .twitter{
   margin-top: 30px !important;
 }
}

/* Cursos (cursos.html) */
.cabecera_cursos img{
  width: 100%;
}

.cabecera_cursos{
  text-align: center !important;
}

.no-padding {
 padding: 0;
}
