.imgstatic{
  height: 400px;
  /* background-color: grey;
  border: 1px solid black; */
  margin-bottom: 20px;
  padding: 0px;
  align-items: center;
  text-align: center;
}
.geolocalizacion{
  height: 400px;
  /* background-color: grey; */
  /* border: 1px solid black; */
}
.imgstatic img{
  width: 80%;
  height: 65%;
  border-radius: 10px;
  margin-top: 10px;

}
.imgstatic p{
  margin-top: 10px;
  text-align: center;
}
.no-padding{
  padding: 0;
}
.mapa{
  height: 350px;
  text-align: center;

}
#map {
 height: 85%;
 width: 100%;
}
.direccion{
  text-align: center;
}
